! .Xresources

! main config
Xft.dpi:                200
Xft.antialias:          true
Xft.hinting:            true
Xft.rgba:               rgba
Xft.autohint:           true
Xft.hintstyle:          hintfull
Xft.lcdfilter:          lcddefault

