/*
 * CSS styling for Waybar
 */

* {
    border: none;
    border-radius: 0;
    font-family: FontAwesome, Iosevka, monospace;
    font-size: 14px;
    min-height: 0;
    background: transparent;
}

window#waybar {
    color: white;
    border-bottom: 2px solid #64727D;
}

/*
 * Modules LEFT
 * ************
 */

#workspaces {
    margin-left: 20px;
}

#workspaces button {
    padding: 0 5px;
    margin: 0 2px;
    color: #64727D;
    border-bottom: 2px solid #64727D;
}

#workspaces button.focused {
    color: white;
    border-bottom: 2px solid white;
}

#mode {
    font-style: italic;
    padding: 0 5px;
    margin: 0 2px;
    border-bottom: 2px solid white;
}

/*
 * Modules RIGHT
 * *************
 */

#pulseaudio,
#network,
#custom-fs_linux,
#custom-fs_win,
#battery,
#clock {
    padding: 0 8px;
    margin: 0 5px;
    border-bottom: 2px solid #64727D;
}

#pulseaudio {
}

#pulseaudio.muted {
    color: #64727D;
}

#network {
}

#network.disconnected {
    color: #64727D;
}

#custom-fs_linux {
    padding-left: 5px;
    margin-left: 0;
}

#custom-fs_win {
    padding-right: 5px;
    margin-right: 0;
}

#battery {
}

#battery.charging {
    border-bottom: 2px solid rgba(100, 114, 125, 0.5);
    animation-name: blink_charging;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.critical:not(.charging) {
    background-color: transparent;
    border-bottom: 2px solid rgba(100, 114, 125, 0.5);
    animation-name: blink_critical;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink_charging {
    to {
        border-bottom: 2px solid #61a57e;
    }
}

@keyframes blink_critical {
    to {
        border-bottom: 2px solid #a56a61;
        background-color: #a34435;
    }
}

#clock {
    margin-right: 20px;
    border-bottom: 2px solid white;
}

